*/*~
*/elpa/
*/auto-save-list/
*/projectile-bookmarks*
*/projectile.cache
*/**/#*#
*/eshell/*
*/recentf
*/backups/
*/org-roam.db
*/custom.el
*/.lsp-session-v1
*/.org-id-locations
*/bookmarks
*/transient
*/package-quickstart.el
